<div class="tform">
	<H2>Examination Marks</H2>
	<table width=100% >
		<tr>
			<td class="leftcol">Programme </td>
			<td><%=@analysispaperexam.examname.course_exam.name%></td>
		</tr>
		<tr>
			<td class="leftcol">Examination Paper </td>
			<td><%=@analysispaperexam.examname.subject_of_exammaker%></td>
		</tr>
		<%=render :partial => 'student_listing2' %>						
	</table>
</div>