<div class="alert-box warning">
  <span>warning: </span><BR/>
  Your user account is currently not associated with and staff or student record.  
  <% permitted_to? :create, :users do %>
    
  <% end %>
  
  
  <% if current_user.roles(:authname => 'administration').present? %>
    Please click <%= link_to "here", :action => 'edit', :id => current_user %> to edit your account and associate a user.
  <% else %>
    Please contact your ICMS system administrator.<BR/>
    Below are a list of people authorised to do so:<BR/>
    <% @admins = Role.find_by_authname('administration').users %>
    <% for user in Role.find_by_authname('administration').users %>
      <strong><%= user.staff_id.blank? ? "" : user.staff.staff_name_with_title + "<BR/>" %></strong>
    <% end %>
  <% end %>

  
</div>