<h3>New Evaluation and Average Score Analysis for Instructor</h3>

<% form_for(@average_instructor) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', average_instructors_path %>